*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
    font-size: var(--font-size-base);
    font-family: var(--font-nunito);

    @include mobile {
        font-size: var(--font-size-base-mobile);
    }
}

body {
    min-height: 100vh;
    color: var(--font-main-color);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

span {
    cursor: default;
}

a {
    text-decoration: none;
    color: inherit;
}

#app {
    position: relative;
    z-index: 1;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
    color: var(--font-main-color);
}
