:root {
    // Colors
    --color-black: #06010a;
    --color-white: #ffffff;
    --color-gray: #efefef;
    --color-dark-gray: #a2a2a2;
    --color-darker-gray: #9f9f9f;
    --color-darkest-gray: #808080;
    --color-green: #00C543;
    --color-red: #FF0000;
    --color-blue: #00f0ff;

    --color-primary-base: #{$primary-base-color};
    --color-primary-light: #{lighten($primary-base-color, 10%)};
    --color-primary-dark: #{darken($primary-base-color, 10%)};
    --color-secondary-base: #{$secondary-base-color};

    --color-background: #EEEDEE;

    // Font
    --font-main-color: var(--color-black);
    --font-size-base: 16px;
    --font-size-base-mobile: 12px;
    --font-nunito: 'nunito_sans', 'Nunito', sans-serif;
}
