.SiteHeader {
    &-Wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5rem;
        height: 7rem;
    }
}
